$black: #040405;

$white: #ffffff;
$white-dark: #FBFDFC;

$blue-light: #3CE3D0;

$green-1: #0E8A78;
$green-2: #0ED097;
$green-3: #165A52;
$green-4: #00C4A5;

$purple: #3B57FF;
$purple-light: #566ffc;

/*
#9EC3C0
#3CE3D0
#0ED097
#00C4A5
#0E8A78
#165A52
#040405
#FBFDFC

#FCFEFE
#B3F3E7
#0ED097
#48DEBB
#66E4CA
*/